* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: rgba(2, 6, 23, 0.9);
  position: sticky;
  top: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #06b6d4, #3b82f6);
}

.hero span {
  color: yellow;
}

.buttons {
  margin-top: 20px;
}

.btn {
  background: black;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.btn-outline {
  border: 2px solid black;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.dark {
  background: #020617;
}

/* SKILLS */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.skills-grid span {
  background: #1e293b;
  padding: 10px 20px;
  border-radius: 20px;
}

/* PROJECTS */
.project-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  width: 250px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: #334155;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: #020617;
}
.project-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  background: #06b6d4;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #0891b2;
}

.btn-outline {
  border: 2px solid #06b6d4;
  padding: 8px 15px;
  border-radius: 5px;
  color: #06b6d4;
  text-decoration: none;
  transition: 0.3s;
}

.btn-outline:hover {
  background: #06b6d4;
  color: white;
}